* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Epilogue;
  color: white;
  padding-top: 10vh;
}

.box {
  padding: 0 10px;
}

main {
  margin: 0;
  padding: 0;
}

#foto {
  padding: 0 5px;
  min-height:80vh ;
  background-image: url(profile.jpeg);
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

#aboutme {
  margin-top: 2em;
}

hr {
  margin-top: 3em;
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
}

#skills-container {
  justify-content: space-around;
}

#skills-container #softskills {
  flex-basis: 30%;
}

#skills-container li {
  margin: 1em 0;
}

.corlinkedin {
  background-color: #0e76a8;
  color: white;
}

.corgithub {
  background-color: #171515;
  color: white;
}

.batman-red {
  color: #871311;
}

h1 {
  color: white;
}