* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Epilogue;
  color: white;
}

.header {
  text-align: center;
  margin-top: 50px;
  color: white;
  margin-bottom: 80px;
}
.header h2 {
  font-size: medium;
}
.header h1 {
  color: white;
}

.header a {
  text-decoration: none;
  font-size: medium;
}

.blocofundo {
  background-color: #232323;
  width: 65%;
  max-height: 500px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 50px;
}

.texto {
  width: 40%;
  height: 400px;
  display: inline-block;
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.texto h3 {
  font-size: 45px;
  margin-bottom: 20px;
}
.texto p {
  font-size: 25px;
  margin-bottom: 20px;
}

#foto {
  border-radius: 15px;
  position: absolute;
  right: 17.5%;
  height: 500px;
  width: auto;
}

h1,
h2 {
  color: white;
  font-family: Barlow;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.texto a {
  text-decoration: none;
  line-height: 60px;
  border-radius: 5px;
  font-size: 20px;
}

.corlinkedin {
  background-color: #0e76a8;
  color: white;
  padding: 15px 30px;
}

.corgithub {
  background-color: #171515;
  color: white;
  padding: 15px 37px;
}

.batman-red {
  color: #871311;
  text-shadow: 5px 5px 5px black;
}

.transicao {
  text-align: center;
  font-size: 55px;
  margin-bottom: 50px;
}
.textohab {
  width: 60%;
  height: 400px;
  display: inline-block;
  margin-left: 8%;
  margin-top: 6%;
  margin-bottom: 2%;
}
.textohab h3 {
  font-size: 45px;
  margin-bottom: 40px;
}
.textohab li {
  font-size: 25px;
  line-height: 45px;
}
